* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

nav {
  min-width: 25%;
  min-height: 100vh;
  background-color: rgb(214, 214, 214);
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

button {
  padding: 0.2rem;
  border-radius: 10px;
  border: 0.5px solid black;
  background-color: rgba(25, 25, 245, 0.544);
}

#title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

#newProject {
  position: absolute;
  top: 20%;
  left: 8%;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid black;
}

#projectTitle {
  margin-bottom: 1rem;
}

#projectDisplay {
  min-width: 100vh;
  min-height: 100vh;
}

#taskForm {
  position: absolute;
  top: 15%;
  left: 30%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
}

#taskInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
}

#taskInfo label {
  display: block;
}

#checkPriority {
  margin-bottom: 0.5rem;
}

#checkPriority legend {
  margin-bottom: 0.5rem;
}

.projectDiv {
  display: flex;
  gap: 3rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem;
}

.projectAddBtn {
  border: none;
  background: none;
}

#newProjectBtn {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

#projectHead {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#taskDisplay {
  min-width: 100vh;
}

.cardDiv {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  min-width: 100vh;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  border: 0.1rem solid black;
  border-radius: 10px;
}

.cardDiv div {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 20%;
}
