* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

nav {
  min-width: 25%;
  min-height: 100vh;
  background-color: rgb(214, 214, 214);
}

#title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

#displayProject {
  min-width: 100vh;
  min-height: 100vh;
}

#taskFormgit {
  position: absolute;
  top: 15%;
  left: 25%;
  /*display: flex;*/
}

.projectDiv {
  display: flex;
  gap: 3rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem;
}

.projectAddBtn {
  border: none;
  background: none;
}

#newProjectBtn {
  margin-bottom: 1rem;
}

#projectHead {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#newTaskBtn {
  padding: 0.3rem 0.3rem;
}
